body {
	margin:0;
	height:100%;
}

html {
	height:100%
}

.menu {
	background-color: #000;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.menu p {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 23px;
	margin: 0;
}

.menu a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:active {
	color: white;
	font-weight: bold;
}

.menu a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.centered {
	text-align: center;
}

.homeBackground {
  background-image: url("BackgroundImage.png");

  /* Full height */
  height: 97.5%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}